@import url("https://fonts.googleapis.com/css?family=Fira+Code:400,700|Permanent+Marker|Rubik:400,700&display=swap");

/* --- FONTS: Fira Code (400, 700) | Rubik (400, 700) | Permanent Marker, --- */

/* ------------------------------------------------------------- */
/* Custom Styles */
/* ------------------------------------------------------------- */

body {
  font-family: "Rubik", sans-serif;
  color: #202020;
  padding: 0;
  margin: 0;
}

.frame {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 24px 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .frame {
    padding: 12px;
  }
}

.custom-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.custom-list li {
  padding-left: 2.6em;
  text-indent: -2.6em;
  margin-bottom: 2em;
}

.hr-full-white {
  border: 0;
  width: 100%;
  background-color: #fff;
  height: 2px;
  margin: 30px 0;
}

/* ------------------------------------------------------------- */
/* Paragraphs | Headings */
/* ------------------------------------------------------------- */

p {
  font-size: 1em;
  line-height: 1.5em;
}

li {
  font-size: 1em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.6em;
  line-height: 1.5em;
  margin: 0;
}

h3 {
  font-size: 2.2em;
  line-height: 1.7em;
  margin: 0;
}

h2 {
  font-size: 2.8em;
  line-height: 1.5em;
  margin: 0;
}

h1 {
  font-size: 3.8em;
  line-height: 1.5em;
  margin: 0;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.8em;
    line-height: 1.5em;
  }
}

/* ------------------------------------------------------------- */
/* Nav Bar - Desktop */
/* ------------------------------------------------------------- */

.topnav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 4px 6px 0 rgba(00, 00, 00, 0.3);
}

.topnav a {
  float: right;
  display: block;
  color: #303030;
  text-align: center;
  padding: 18px 24px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #c14d63;
  color: #fff;
  text-shadow: none;
  /* box-shadow: 0 0 6px 0 rgba(00, 00, 00, 0.3); */
}

.topnav a:focus {
  outline: none !important;
  background-color: #c14d63;
  color: #fff;
  text-shadow: none;
  /* box-shadow: 0 0 6px 0 rgba(00, 00, 00, 0.3); */
}

.topnav-mobile {
  display: none; /* .topnav-mobile Disabled on desktop */
}

/* ------------------------------------------------------------- */
/* Nav Bar - Mobile */
/* ------------------------------------------------------------- */

@media screen and (max-width: 600px) {
  .topnav {
    display: none; /* .topnav Disabled on mobile */
  }

  .topnav-mobile {
    display: inline-block;
    text-align: left;
    width: auto;
    min-width: 120px;
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgba(00, 00, 00, 0.3);
    position: fixed;
    overflow: hidden;
    top: 0;
    border-radius: 0 0 24px 0;
    z-index: 999;
  }

  .dropdown-button {
    text-align: left;
    float: none;
    display: block;
    font-weight: 800;
    overflow: hidden;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }

  .dropdown-content a {
    float: none;
    display: block;
    color: #202020;
    text-align: left;
    padding: 20px 16px;
    text-decoration: none;
    border-top: 1px solid #d3d3d3;
  }
}

/* ------------------------------------------------------------- */
/* Homepage
/* ------------------------------------------------------------- */

#lp-hero-text {
  text-shadow: 2px 2px 6px rgba(81, 32, 46, 0.8);
  font-size: 120px;
  letter-spacing: 2px;
  vertical-align: middle;
  font-family: "Permanent Marker", cursive;
}

@media screen and (max-width: 600px) {
  #lp-hero-text {
    text-shadow: 2px 2px 6px rgba(81, 32, 46, 0.8);
    font-size: 64px;
    font-family: "Permanent Marker", cursive;
  }
}

#dc-hero-text {
  text-shadow: 2px 2px 6px rgba(81, 32, 46, 0.8);
  font-weight: 300;
  font-size: 40px;
}

@media screen and (max-width: 600px) {
  #dc-hero-text {
    text-shadow: 2px 2px 6px rgba(81, 32, 46, 0.8);
    font-weight: 300;
    font-size: 38px;
  }
}

.hero-image {
  background-image: linear-gradient(rgba(100, 0, 0, 0.35), rgba(100, 0, 0, 0.35)),
    url("../images/skatepark-cropped-overlay.jpg");
  height: 100vh;
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-logo {
  width: 80%;
  max-width: 200px;
  height: auto;
  margin-bottom: -50px;
  margin-right: 24px;
}

@media screen and (max-width: 600px) {
  .hero-logo {
    width: 80%;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    display: table;
  }
}

.hero-text {
  text-align: center;
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-button {
  display: inline-block;
  border-radius: 8px;
  padding: 20px 40px;
  margin: 40px auto;
  color: #fff;
  background-color: #c14d63;
  text-align: center;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5em;
  text-decoration: none;
  box-shadow: 0 0 6px 0 rgba(00, 00, 00, 0.3);
}

.hero-button:focus {
  outline: none !important;
  background-image: linear-gradient(40deg, #c14d63, #d1a659);
  border: 0;
  padding: 20px 40px; /* makes up for the added 2px border */
  color: #fff;
  box-shadow: 0 0 10px 0 rgba(00, 00, 00, 0.6);
}

.hero-button:hover {
  background-image: linear-gradient(40deg, #c14d63, #d1a659);
  border: 0;
  padding: 20px 40px; /* makes up for the added 2px border */
  color: #fff;
  box-shadow: 0 0 10px 0 rgba(00, 00, 00, 0.6);
}

/* ------------------------------------------------------------- */
/* Footer */
/* ------------------------------------------------------------- */

.contact-box {
  vertical-align: middle;
  display: table;
  text-align: center;
  margin: 80px auto;
  width: 100%;
  max-width: 400px;
}

.contact-box a {
  color: #fff;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}

.little-ty {
  width: 80px;
  height: 80px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 40px 0 0;
  background-image: url("../images/ty-norm.png");
  background-size: contain;
}

/* ------------------------------------------------------------- */
/* About Page */
/* ------------------------------------------------------------- */

.material-box {
  background-color: #fff;
  color: #202020;
  border-radius: 8px;
  padding: 100px;
  margin: 20px;
  box-shadow: 0 4px 6px 0 rgba(00, 00, 00, 0.3);
}

.claims {
  margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .claims {
    font-size: 2.2em;
  }
  .person-company {
    font-size: 1em;
  }
  .material-box {
    padding: 40px 30px;
  }
}

/* ------------------------------------------------------------- */
/* Gallery Page */
/* ------------------------------------------------------------- */

#gallery-container {
  margin: 0 auto 20px auto;
  width: 100%;
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.gallery-display {
  width: 300px;
  margin: 20px;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(00, 00, 00, 0.3);
  transition-duration: 0.05s;
  cursor: pointer;
}

.gallery-display:hover {
  width: 320px;
  margin: 10px;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 6px 9px 0 rgba(00, 00, 00, 0.4);
  transition-duration: 0.05s;
}

.gallery-display img {
  width: 100%;
}

#gallery-caption {
  margin: 20px auto 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  text-align: center;
  min-height: 50px;
}

#gallery-lightbox-container {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-color: rgba(30, 10, 10, 0.88);
  overflow: auto;
}

#gallery-lightbox {
  position: relative;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  flex-direction: column;
  /* margin: 120px auto 0 auto; */
  width: 80%;
  height: 700px;
}

#lightbox-image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 0 0 0;
}

/* less top margin on small devices */
@media screen and (max-width: 600px) {
  #lightbox-image-container {
    margin: 40px 0 0 0;
  }
}

#lightbox-image {
  width: 90vw;
  max-width: 700px;
  height: auto;
  margin: 15px;
  max-height: 500px;
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(00, 00, 00, 0.6);
}

#lightbox-text {
  font-size: 1.2em;
  text-align: center;
  margin: 15px;
  width: 90vw;
  max-width: 400px;
  height: auto;
  color: #efd5d5;
}

#exit-lightbox {
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
  line-height: 1;
  border: 1px solid #efd5d5;
  border-radius: 8px;
  padding: 8px 16px;
  width: 50px;
  color: #efd5d5;
  cursor: pointer;
}

/* Gallery Items 1-9 */

.gallery-display:nth-of-type(1) {
  content: url("../images/gallery/spacer.png");
  background-image: url("../images/gallery/2018-conference-display.jpg");
}

.gallery-display:nth-of-type(2) {
  content: url("../images/gallery/spacer.png");
  background-image: url("../images/gallery/rer-web-design-display.jpg");
}

.gallery-display:nth-of-type(3) {
  content: url("../images/gallery/spacer.png");
  background-image: url("../images/gallery/heart-of-social-work-display.jpg");
}

.gallery-display:nth-of-type(4) {
  content: url("../images/gallery/spacer.png");
  background-image: url("../images/gallery/lead-program-display.jpg");
}

.gallery-display:nth-of-type(5) {
  content: url("../images/gallery/spacer.png");
  background-image: url("../images/gallery/masking-tape-mega-pack-display.jpg");
}

.gallery-display:nth-of-type(6) {
  content: url("../images/gallery/spacer.png");
  background-image: url("../images/gallery/rad-ralphs-display.jpg");
}

.gallery-display:nth-of-type(7) {
  content: url("../images/gallery/spacer.png");
  background-image: url("../images/gallery/grow-through-display.jpg");
}

.gallery-display:nth-of-type(8) {
  content: url("../images/gallery/spacer.png");
  background-image: url("../images/gallery/scratch-business-cards-display.jpg");
}

.gallery-display:nth-of-type(9) {
  content: url("../images/gallery/spacer.png");
  background-image: url("../images/gallery/newsletter-display.jpg");
}